@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --clr-very-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);
  --clr-dark-gray-magenta: hsl(303, 10%, 53%);
  --clr-light-gray-magenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
}

html {
  min-width: 320px;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.container {
  text-align: center;
  margin: 15% 15px;
  background-color: var(--clr-white);
}

.welcome {
  padding-bottom: 30px;
}

.welcome__header {
  color: var(--clr-very-dark-magenta);
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.welcome__paragraph {
  color: var(--clr-dark-gray-magenta);
  font-weight: 400;
}

.star-review-grid {
  padding-bottom: 30px;
}

.star-card {
  background-color: var(--clr-light-gray-magenta);
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 10px;
}

.star-review {
  font-weight: 500;
  padding-top: 5px;
  color: var(--clr-very-dark-magenta);
}

.card {
  background-color: var(--clr-very-dark-magenta);
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 15px;
}

.profile {
  position: relative;
  display: flex;
  padding-bottom: 10px;
  text-align: left;
  align-content: center;
}

.profile__pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  margin: 5px;
}

.profile__info {
  padding: 10px 0 0 20px;
}

.name {
  color: var(--clr-white);
  display: block;
  position: relative;
}

.status {
  color: var(--clr-soft-pink);
  position: relative;
  display: block;
}

.review__text {
  color: var(--clr-white);
  text-align: left;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {
  .container {
    margin: 100px 150px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid > * {
    flex: 1 1 50%;
  }

  .welcome {
    text-align: left;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .welcome__header {
    font-size: 3em;
    font-weight: 900;
    padding-left: 0;
    line-height: 50px;
  }

  .star-card {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 30px;
    font-size: 12px;
  }

  .img-container {
    margin-right: 30px;
  }

  .star-card:nth-child(1) {
    margin-right: 75px;
  }

  .star-card:nth-child(2) {
    margin-right: 37.5px;
    margin-left: 37.5px;
  }

  .star-card:nth-child(3) {
    margin-left: 75px;
  }

  .person-review-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 25px;
  }

  .card {
    margin: 0 10px;
  }

  .card:nth-child(1) {
    margin-bottom: 25px;
    margin-left: 0;
  }

  .card:nth-child(2) {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .card:nth-child(3) {
    margin-top: 25px;
    margin-right: 0;
  }
}
